<div id='WaveElement' class="page-wrapper" fxLayout="column">
    <div class="content-wrapper" fxLayout="column">
        <div class="image-wrapper" fxLayoutAlign="start" fxLayout="column" fxFlex>
            <div fxFlex fxLayoutAlign="center">
                <img class="image" src="../../../assets/fishare-logo/fishare.png">
            </div>
            <div fxFlex fxLayout="column">
                <div fxflex  fxLayoutAlign="center">
                    <h1 class="fishare-text">Fishare</h1>
                </div>
                <div fxflex  fxLayoutAlign="center">
                    <p class="slogan-text">Share your fishing adventures.</p>
                </div>
            </div>
        </div>
        <div class="Router-wrapper" fx>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
